.home{
  width: 99vw;
  height: 100vh;
  background-image: url(../../components/Assets/yp-3.jpg);
  background-position: center right;
  background-size: cover;
  position: relative;
  .the-search{
    position: absolute;
    top: 5%;
    left: 10%;

  }
  .main{
    position: absolute;
    top: 65%;
    left: 10%;
    width:80%;
    background-color: rgb(24, 23, 23);
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px 0px;
    margin: auto;
  }
}